// ********************** //
//    C O N T E N T S     //
// ********************** //

// CONTACT



.section--contact {
	@include flex(center, center, nowrap);
	background: $black;
	padding: spacing(1);
}

	.contact-list {
		margin: 0;
		padding: 0;
	}

	.contact-list__item {
		@include font-size(xl);
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		position: relative;
		padding: 0 spacing(0.5);
	}

	.contact-list__link {
		color: $white;
		text-decoration: none;
	}

