// ********************** //
//    C O N T E N T S     //
// ********************** //

// SHARED
// CITY LIST
// SEARCH FORM

// OVERLAY


// ------ //
// SHARED //
// ------ //

html {
	position:relative;
	box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
	@include text-body;
	font-family: $font-family-primary;
	color: $color-text-primary;
	background: $black;
	color: $white;
}

.section {
	margin-bottom: spacing(4);
}

// ------- //
// OVERLAY //
// ------- //

.s-overlay {
	background: $color-bg-curtain;
	bottom: 0;
	cursor: pointer;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity $fade-transition-duration ease-in-out;
	z-index: 100;
	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}
}



// --------- //
// CITY LIST //
// --------- //

.city-wrap {
	outline: 1px red solid;
	text-align: center;
	color: $color-text-primary;
	.search-result--current & {
		width: calc(50% - 2rem);
		margin: auto;
	}
	.search-result--weekly & {
		width: calc(25% - 2rem);
		margin: spacing(1);
	}
}

.city__content {
	background: $white;
	border-radius: $border-radius;
	.search-result--current & {
		padding: spacing(2);

	}
	.search-result--weekly & {
		padding: spacing(1);
	}
}

.city-list__icon {
	@include font-size(2xl);
}

.city-list__temperature {
	@include font-size(2xl);
}

// .remove-city-button {
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// 	color: $color-subtext;
// }



// ----------- //
// SEARCH FORM //
// ----------- //

.no-height {
	max-height: 0px;
	overflow: hidden;
}

.search-form {
	transition: max-height 0.3s linear;
	.s-input-button-wrap {
		background: transparent;
		border-bottom: 1px $white solid;
	}

	.s-input {
		@include ph($white);
		input[type="text"] {
			@include font-size(l);
			border: 0;
			background: transparent;
			padding-left: 0;
		}
	}

	.search-button {
		@include font-size(body);
		color: $white;
		background: transparent;
		border: 0;
		padding-right: 0;

		&:hover {
			color: $color-primary;
		}
	}
}

.search-result--weekly {
	@include flex(center, stretch, wrap);
}