// ********************** //
//    C O N T E N T S     //
// ********************** //

// SHARED
// CITY CONTENT
// SEARCH FORM
// SEARCH RESULT
// CONTENT TOGGLING BUTTON


// ------ //
// SHARED //
// ------ //

html {
	position:relative;
	box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
	@include text-body;
	font-family: $font-family-primary;
	color: $color-text-primary;
	background: $black;
	color: $white;
	width: 100%;
	height: 100vh;
	animation-delay: 1s;
}

.section {
	margin-bottom: spacing(4);
}



// ------------ //
// CITY CONTENT //
// ------------ //

.city-wrap {
	text-align: center;
	color: $color-text-primary;
	.search-result--weekly & {
		width: calc(25% - 2rem);
		margin: spacing(1);
		border: $border-width $white solid;
		border-radius: $border-radius;
	}
}

.city__content {
	color: $white;
	.search-result--current & {
		padding: spacing(2);
	}
	.search-result--weekly & {
		padding: spacing(1);
	}
}

.city-weather {
	.search-result--current & {
		@include flex(center, center, nowrap);
	}

	&__icon {
		@include font-size(3xl);
	}
}

.city__temperature {
	@include flex(center, center, nowrap);
	font-size: 2rem;
	line-height: 1;
	margin-top: spacing(1);
	&__current {
		font-size: 16rem;
		margin-right: spacing(2);
		.city__unit {
			font-size: 10%;
			top: -8rem;
		}
	}
}



// ----------- //
// SEARCH FORM //
// ----------- //

.no-height {
	max-height: 0px;
	overflow: hidden;
}

.search-form {
	transition: max-height 0.3s linear;
	.s-input-button-wrap {
		background: transparent;
		border-bottom: 1px $white solid;
	}

	.s-input {
		@include ph($white);
		input[type="text"] {
			@include font-size(l);
			border: 0;
			background: transparent;
			padding-left: 0;
		}
	}

	.search-button {
		@include font-size(body);
		color: $white;
		background: transparent;
		border: 0;
		padding-right: 0;

		&:hover {
			color: $color-primary;
		}
	}
}



// ------------- //
// SEARCH RESULT //
// ------------- //

.search-result--weekly {
	@include flex(center, stretch, wrap);
}



// ----------------------- //
// CONTENT TOGGLING BUTTON //
// ----------------------- //

.back-to-daily-button {
	position: absolute;
	left: spacing(2);
	top: spacing(6);
}

