// ********************** //
//    C O N T E N T S     //
// ********************** //

// HEADER


// ------ //
// HEADER //
// ------ //


.site-logo {
	@include font-size(3xl);
	transition: color $color-transition-duration linear;
	&:hover,
	&:focus {
		color: $color-brand-1;
	}
}

.site-nav-primary {
	@include font-size(3xl);
	@include flex(flex-end, center, nowrap);
	list-style: none;
	margin: 0;
	padding: 0;

	.site-nav-primary__item {
		position: relative;
	}

	.site-nav-primary__text {
		@include center-placed;
		@include font-size(meta);
		font-family: $font-family-primary;
		display: block;
		color: $black;
		text-transform: uppercase;
		line-height: 0.9;
		margin-top: spacing(0.5);
	}
}

.site-header {
	@include flex(space-between, center, nowrap);
	background: $black;
	padding: spacing(1);
}


