
.is-hidden {
	display: none !important;
}

.is-showing {
	display: block !important;
}

.is-not-visible {
	visibility: hidden !important;
}

.is-visible {
	visibility: visible !important;
}


.u-pos-relative {
	position: relative !important;
}

.u-pos-static {
	position: static !important;
}

.u-pos-absolute {
	position: absolute !important;
}

.u-pos-fixed {
	position: fixed !important;
}

.u-block {
	display: block !important;
}

.u-inline {
	display: inline !important;
}

.u-inline-block {
	display: inline-block !important;
}

.u-selfclear {
	@include self-clear;
}

.u-clear {
	clear: both !important;
}

.u-float-left {
	float: left !important;
}

.u-float-right {
	float: right !important;
}

.u-no-scroll {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.u-visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}


.u-background-primary {
	background: $color-bg-light;
}
